.page-header
  %h1 Check-In for a class
  %p Remaining classes today (#{today_full_day})
.row-fluid
  .span12
    - @classes.each do |classy|
      %p= link_to class_time_printer(classy), "#", :class => "btn"
