.links.btn-group.pull-right
  %a.btn.dropdown-toggle(data-toggle="dropdown"){:href => "#"}
    = current_admin.email
    %span.caret
  %ul.dropdown-menu
    %li= link_to 'Sign Out', destroy_admin_session_path, :method => :delete
.nav-collapse
  %ul.nav
    %li= link_to "Home", admin_root_path
