%header#welcome.jumbotron.subhead
  %h1 Welcome to BoxCheckIn
  %p.lead BoxCheckIn is the easiest way to check in for your workout.
%hr
.row
  .span12
    %p If your box has set you up, simply log-in!
